.cont{behavior:url(js/PIE.htc);-pie-background:rgba(0,0,0,0.7);}
.cont-7{behavior:url(js/PIE.htc);-pie-background:rgba(0,0,0,0.699492);}
.cont-12{behavior:url(js/PIE.htc);-pie-background:rgba(0,96,100,0.8);}
.cont-15{behavior:url(js/PIE.htc);-pie-background:rgba(0,0,0,0.7);}
.cont-18{behavior:url(js/PIE.htc);-pie-background:rgba(0,0,0,0.7);}
